<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Product Test Suite" verbose="2">
    <test name="Product Acceptance Tests" annotations="JDK">
        <classes>
            <!-- Add test runners here -->
            <class name="WebApp.TestRunners.TestRunner"/>
        </classes>
    </test>
</suite>
